@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&family=Manufacturing+Consent&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.loading-overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  z-index: 9999;
  color: white;
  text-align: center;
  font-size: 1.4rem; 
  padding: 20px;
  pointer-events: all; 
}

.spinner {
  border: 6px solid rgba(255, 255, 255, 0.3); 
  border-top: 6px solid #02818C; 
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite; 
  margin-bottom: 25px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}